* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: #e0e0e0;
  /* その他要素: #444444、#888888 (中間グレー) */
}

.container {
  max-width: 1300px;
  margin: 0 auto 200px auto;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 30px 0;
}

h1 {
  font-size: 1.5rem;
}

.center {
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

nav button {
  font-size: 0.7rem;
  padding: 5px 10px;
  cursor: pointer;
}

.tuning {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

.tuning button {
  padding: 10px 20px;
  cursor: pointer;
}

.volume-control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tempo-control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.metronome-controls {
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    margin-bottom: 10px;
  }

  select {
    padding: 10px;
  }

  button {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }
}

.sentence {
  p {
    padding: 10px 0;
  }
  li {
    margin: 0 0 0 20px;
  }
}

/* 伴奏 */
.time-signature {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  margin: 20px 0;

  input {
    width: 70px;
    padding: 10px;
  }

  button {
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px 0;
  }
}

.measures-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
}

.measure-block {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 8px;
}

.measure-block.selected {
  border-color: #007bff;
  box-shadow: 0 0 10px 3px rgba(0, 123, 255, 0.5);
}

.measure-header {
  margin-bottom: 10px;
}

.measure-header label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.chord-inputs {
  display: flex;
  gap: 5px;
}

.chord-inputs input {
  width: 72px;
  padding: 5px;
  border: 1px solid #eee;
  border-radius: 4px;
}

.measure-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  select {
    padding: 10px;
  }

  button {
    padding: 10px 20px;
    cursor: pointer;
  }
}

.file-operations {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  button {
    padding: 10px 20px;
    cursor: pointer;
  }
}

.transpose-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  select {
    padding: 10px;
  }
}

.loop-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  input {
    padding: 10px;
  }
}

.playback-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  button {
    padding: 10px 20px;
    cursor: pointer;
  }
}

/* コード・ポジション */
.code-position {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.code-position div {
  background-color: #eee;
  color: #121212;
  box-sizing: border-box;
  width: 300px;
  margin-bottom: 20px;
  border-radius: 10px;
}

/* ChordPlaying */
.create-pattern {
  text-align: center;

  button {
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px 0;
  }
}

.measure-block-playing {
  width: 300px;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.measure-block-playing.selected {
  background-color: #ccc;
  color: #121212;
  border-color: #007bff;
  box-shadow: 0 0 10px 3px rgba(0, 123, 255, 0.5);
}

.measure-block-playing div {
  text-align: center;
  flex: 1;
  margin: 20px 0;
}
